html,body,div,ul,li,p,h1,h2,h3 {margin: 0; padding: 0;}
html,body,.maincontainer {width: 100%; height: 100%; overflow: hidden;}

.main-container { position: relative; }
.left-container { width: 300px; position: absolute; top: 0; left: 0; background-color: #ccc; height: 100%; }
.srv-list {}
.srv-list .srv { line-height: 40px; text-align: center; font-family: sans-serif; background: #2196F3; border-bottom: 1px solid #43A5F3; color: #fff; cursor: pointer; transition: background .2s; }
.srv-list .srv:hover { background: #1477C5; }

.svg-container { /*padding-left: 300px;*/ background: url('../imgs/pattern_tile.png'); }
svg circle { fill:#2196F3; stroke:#3F51B5; stroke-width:2; cursor: pointer; }
svg circle.dragging { fill: #F52D55; stroke: #920B26; stroke-width: 2px; }